@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 



@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} 

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} 

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} 

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} 

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
} 


@-webkit-keyframes yellowFade {
  0% {
    background-color: #FFFF9C;
  }
  100% {
    background-color: #FFF;
  }
} 

@-moz-keyframes yellowFade {
  0% {
    background-color: #FFFF9C;
  }
  100% {
    background-color: #FFF;
  }
} 

@-ms-keyframes yellowFade {
  0% {
    background-color: #FFFF9C;
  }
  100% {
    background-color: #FFF;
  }
} 

@-o-keyframes yellowFade {
  0% {
    background-color: #FFFF9C;
  }
  100% {
    background-color: #FFF;
  }
} 

@keyframes yellowFade {
  0% {
    background-color: #FFFF9C;
  }
  100% {
    background-color: #FFF;
  }
} 

/**
* Fan styles
*/
.fan li {
-webkit-transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
-moz-transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
-ms-transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
-o-transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
transition: all 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);

-webkit-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
transform-origin: 0% 0%;
}
.fan li.past {
-webkit-transform: rotate( -60deg );
-moz-transform: rotate( -60deg );
-ms-transform: rotate( -60deg );
-o-transform: rotate( -60deg );
transform: rotate( -60deg );
}

.fan li.future {
-webkit-transform: rotate( 70deg );
-moz-transform: rotate( 70deg );
-ms-transform: rotate( 70deg );
-o-transform: rotate( 70deg );
transform: rotate( 70deg );
}

@-webkit-keyframes fanOut {
  0% {
    -webkit-transform: rotate( 70deg );
  }
  100% {
    -webkit-transform: rotate( 0deg );
  }
}

@-moz-keyframes fanOut {
  0% {
    -moz-transform: rotate( 70deg );
  }
  100% {
    -moz-transform: rotate( 0deg );
  }
}

@-ms-keyframes fanOut {
  0% {
    -ms-transform: rotate( 70deg );
  }
  100% {
    -ms-transform: rotate( 0deg );
  }
}

@-o-keyframes fanOut {
  0% {
    -o-transform: rotate( 70deg );
  }
  100% {
    -o-transform: rotate( 0deg );
  }
}

@keyframes fanOut {
  0% {
    transform: rotate( 70deg );
  }
  100% {
    transform: rotate( 0deg );
  }
}